.contactFormContainer{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    background-color:rgb(247, 247, 247);
    border-radius: 15px;
    margin-top: 10px;
    /* margin-bottom: 60px; */
    padding: 20px;
}

.contactFormTitle{
    font-size: 34px;
    text-align: center;
    font-weight: 600;
    margin: 20px;
    color: black;
}