.navbar{
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    margin-bottom:20px ;
    max-width: 1200px;
    width: 100%;
}

.logo{
    color:black;
    font-size: 40px;
    font-weight: 700;
}

.nav-items{
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 24px;
    font-weight: 500;

}
.addContact-btn, .addContact-btn:hover{
    /* font-size: ; */
    color:gray ;
}
.addContact-btn{

}

.logout{
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
}
.logout:hover {
    color: white;
}